.App {
    font-family: sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

.leaflet-container {
    height: 100vh;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
  
.fade_in {
    animation: fadeInAnimation ease 4s;
}

.fit {
    max-width: 99%;
    max-height: 99%;
  }